<section class="contact section" id="contact">
  <h2 class="section_title">Contatar</h2>
  <span class="section_subtitle">Entrar em contato</span>
  <div class="section_container container grid">
    <div>
      <div class="contact_information">
        <i class="uil uil-phone contact_icon"></i>
        <div>
          <h3 class="contact_title">Celular</h3>
          <span class="contact_subtitle">55 43 99691-6631</span>
        </div>
      </div>
      <div class="contact_information">
        <i class="uil uil-envelope contact_icon"></i>
        <div>
          <h3 class="contact_title">Email</h3>
          <span class="contact_subtitle">antony.dos.santos.felisberto&#64;gmail.com</span>
        </div>
      </div>
      <div class="contact_information">
        <i class="uil uil-map-marker contact_icon"></i>
        <div>
          <h3 class="contact_title">Localização</h3>
          <span class="contact_subtitle">Brasil - Parana - Cambé - Rua Campo mourão 130 jardim ana eliza 2</span>
        </div>
      </div>
    </div>
  </div>
</section>
