<section class="about section" id="about">
    <h2 class="section_title">Sobre Mim</h2>
    <span class="section_subtitle">Anos de experiencia e informações detalhadas</span>
    <div class="about_container container grid">
        <img src="../../../assets/system_images/sobre.jfif">
        <div class="about_data">
            <p class="about_description">Meu nome é Antony dos santos felisberto, tenho {{age}} anos, sempre tive curiosidade por tecnologia e por esse motivo escolhi me tornar um desenvolvedor, sempre busco estar estudando novas técnologias sendo elas novas ou antigas, meu primeiro emprego foi tralhando para a TCS realizando demandas evolutivas para a empresa Vale, atualmente trabalho para a empresa CI&T.</p>
            <div class="about_info">
                <div>
                    <span class="about_info-title">+{{yearsOfExperience}}</span>
                    <span class="about_info-name">Anos de<br>Experiencia como desenvolvedor Full Stack</span>
                </div>
                <div>
                    <span class="about_info-title">+{{yearsOfExperience}}</span>
                    <span class="about_info-name">Anos Completados de<br>Experiencia com aplicações web e ambientes DevOps</span>
                </div>
                <div>
                    <span class="about_info-title">+{{yearsOfExperienceCIT}}</span>
                    <span class="about_info-name">Anos Trabalhando <br>para a empresa CI&T</span>
                </div>
            </div>
            <div class="about_buttons">
                <a download="" href="assets/pdf/Curriculo.pdf" class="button button--flex">
                    Baixar curriculo<i class="uil uil-download-alt button_icon"></i></a>
            </div>
        </div>
    </div>
</section>
