<footer class="footer">
    <div class="footer_bg">
        <div class="footer_container container grid">
            <div>
                <h1 class="footer_title">Antony</h1>
                <span class="footer_subtitle">FullStack Developer</span>
            </div>

            <ul class="footer_links">
                <li >
                    <a href="#services" class="footer_link">Serviços</a>
                </li>
                <li >
                    <a href="#portifolio" class="footer_link">Portifolio</a>
                </li>
                <li >
                    <a href="#contact" class="footer_link">Contatar</a>
                </li>
            </ul>

            <div class="footer_socials">
                <a href="https://api.whatsapp.com/send?phone=5543996916631" target="_blank" class="footer_social">
                    <i class="uil uil-whatsapp"></i>
                </a>

                <a href="https://www.linkedin.com/in/antony-santos/" class="footer_social" target="_blank">
                    <i class="uil uil-linkedin-alt"></i>
                </a>
                <a href="https://github.com/AntonyFelisberto" class="footer_social" target="_blank">
                    <i class="uil uil-github-alt"></i>
                </a>
                    
            </div>
        </div>

        <p class="footer_copy">&#169; Antony. Todos direitos resevados</p>
    </div>
</footer>