<section class="project section">
  <div class="project_bg">
      <div class="project_container container_grid">
          <div class="project_data">
              <h2 class="project_title">Caso queira entrar em contato</h2>
              <p class="project_description">Clique para ser redirecionado a meus contatos</p>
              <a href="#contact" class="button button--flex button--white">
                  Contatar
                  <i class="uil uil-message proect_icon button_icon"></i>
              </a>
          </div>
      </div>
      <img src="/assets/img/imagensDoSistema/image.jpg" class="project_img">
  </div>
</section>
