<section class="portifolio section" [id]="id">
  <h2 class="section_title">{{ title }}</h2>
  <span class="section_subtitle appears">Deslize para esquerda ou direita para ver outros</span>
  <div class="portfolio_container container swiper mySwiper">
      <div class="swiper-wrapper new">
        <div *ngFor="let cert of certificacoesProg" class="portifolio_content grid swiper-slide">
          <img [src]="cert" alt="" class="portifolio_img">
        </div>
      </div>
      <div class="swiper-button-next appears" style="top: 18.75rem; position:absolute;"></div>
      <div class="swiper-button-prev appears" style="top: 18.75rem; position:absolute;"></div>
  </div>
</section>
