<main>
    <main class="main">
      <app-home></app-home>
      <app-about></app-about>
      <app-skills></app-skills>
      <app-qualification></app-qualification>
      <app-services></app-services>
      <app-swipper title="PORTIFÓLIO"></app-swipper>
      <app-contact></app-contact>
      <app-swipper title="CERTIFICAÇÕES EXTRAS"></app-swipper>
    </main>
    <app-footer></app-footer>
    <a href="#home" class="scrollup" id="scroll-up">
      <i class="uil uil-arrow-up scrollup_icon"></i>
    </a>
</main>
